.pink-background {
  background-color: #f8f9fa; /* O el color de fondo rosa que prefieras */
}

.plan-dieta {
  color: #FF7F50; /* Color base para todos los textos */
}

.plan-dieta .text-shadow {
  text-shadow: 0 0 10px rgba(255, 140, 0, 0.5); /* Sombra en tonos de naranja para todos los textos */
}

.plan-dieta .display-4, .plan-dieta h3, .plan-dieta p, .plan-dieta .lead {
  color: inherit; /* Hereda el color base definido para la clase .plan-dieta */
}

.plan-dieta .card-shadow {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.2); /* Sombra de caja en tonos naranja */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.plan-dieta .card-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(255, 165, 0, 0.4); /* Sombra de caja más intensa en tonos naranja al hacer hover */
}

.plan-dieta i {
  color: #FFA07A; /* Iconos en tono naranja claro */
}

.plan-dieta .bg-light-orange {
  background-color: #FFDAB9; /* Fondo de tarjetas en tono naranja claro */
}

.plan-dieta .bg-dark-orange {
  background-color: #FF8C00; /* Fondo de tarjetas en tono naranja oscuro */
  color: #FFFFFF; /* Texto blanco para contraste */
}

.plan-dieta .animated-fade {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .plan-dieta .display-4 {
    font-size: 2.5rem;
  }
}
