
  <div class="container my-5 plan-dieta ">
    <div class="text-center my-4">
      <h1 class="display-4 font-weight-bold text-shadow">Plan de Dieta</h1>
      <p class="lead">Para una vida saludable</p>
    </div>
    <div class="row text-center mb-5">
      <div class="col-md-6 mb-3">
        <div class="p-5 card-shadow animated-fade">
          <i class="fas fa-utensils fa-4x mb-3 icon-orange"></i>
          <h3 class="text-shadow">Come Sano</h3>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="p-5 card-shadow animated-fade">
          <i class="fas fa-running fa-4x mb-3 icon-dark-orange"></i>
          <h3 class="text-shadow">Ejercítate</h3>
        </div>
      </div>
    </div>
  </div>


