<div class="container-fluid">
  <div class="row align-items-stretch">
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center text-center text-white" style="background: url('/assets/lypomax/fondo3.png') center center no-repeat; background-size: cover;">
      <h3 class="text-shadow">Tratamiento 100% Natural</h3>
      <h2 class="text-shadow">Pierde peso facilmente sin rebotes</h2>
      <p class="text-shadow">Nuestra formula reduce la grasa de tu vientre mientras duermes</p>
      <h3 class="text-shadow font-weight-bold animated-question">¿Tienes dudas?</h3>
      <h3 class="text-shadow">Comunícate con una asesora</h3>
      <div class="d-inline-block">
        <a [href]="'https://wa.me/+57' + phoneNumber" class="btn btn-success text-white" role="button" target="_blank">
          <i class="fab fa-whatsapp"></i> Consulta con una Asesora Lypomax
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 p-0">
      <img src="./assets/lypomax/header-lypomax2.png" alt="Imagen del producto" class="img-fluid w-100 h-100">
    </div>
  </div>
</div>
