<div class="container-fluid pink-background py-5">
  <div class="row align-items-center">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="../assets/lypomax/lypomax-sin-fondo.png" alt="Max Curvy Plus" class="img-fluid" />
    </div>
    <div class="col-lg-8 col-md-12">
      <!-- Título más grande con la clase display-4 de Bootstrap -->
      <h2 class="display-4 text-center text-lg-start mb-3">Descubre el Poder de Lypomax</h2>
      <p class="text-center text-lg-start lead">Un avance natural para realzar tu figura.</p>

      <div class="row">
        <!-- Tarjetas con textos más pequeños -->
        <div class="col-md-6 mb-3">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="h6 card-title"><i class="fa-solid fa-seedling text-success"></i> Ingredientes Naturales</h5>
              <p class="small card-text">Explora los beneficios del fenogreco, aguaje y otros extractos botánicos para una belleza que irradia desde dentro.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="h6 card-title"><i class="fa-solid fa-heart-circle-check text-success"></i> Seguro y Eficaz</h5>
              <p class="small card-text">Confía en una solución que respeta tu cuerpo, proporcionando resultados visibles y duraderos sin riesgos.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="h6 card-title"><i class="fa-solid fa-circle-check text-success"></i> Resultados Comprobados</h5>
              <p class="small card-text">Únete a las miles de clientes satisfechas que han transformado su cuerpo y autoestima con lypomax.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="h6 card-title"><i class="fa-solid fa-user-check text-success"></i> Aprobado por Especialistas</h5>
              <p class="small card-text">Elaborado con la supervisión de expertos en nutrición y salud para garantizar la más alta calidad y efectividad.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
