<div class="parallax">
  <div class="container-fluid image-div d-flex justify-content-center align-items-center text-center">
    <div class="row">
      <div class="col-12">
        <h3 class="text-shadow">Comunícate con una asesora</h3>
        <div class="d-inline-flex flex-column flex-md-row align-items-start align-items-md-center">
          <a (click)="onContact()" class="btn btn-success text-white mb-2 mb-md-0 mr-md-2" role="button" target="_blank">
            <i class="fab fa-whatsapp"></i> Consulta con una Asesora Lypomax
          </a>
          <a href="#comprar" class="btn btn-primary text-white" role="button">
            <i class="fas fa-shopping-cart"></i> Comprar Lypomax
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
