<div class="container-fluid py-5 d-flex justify-content-center align-items-center" style="background: url('/assets/lypomax/fondo3.png') center center no-repeat; background-size: cover;">
  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <img src="../assets/lypomax/lypomax-sin-fondo.png" alt="Lypomax" class="img-fluid">
    </div>
    <div class="col-md-6 text-center">
       <h2 class="display-6 fw-bold mb-3 text-white">Reemplaza la Cena</h2>
      <!-- <h2 class="h5 mb-3 text-white">Batido para Bajar de Peso</h2> -->
      <!-- <p class="fs-4 mb-4 text-white">Reemplaza la Cena</p> -->
      <p class="fs-5 mb-4 text-white">Ingredientes: <i class="fas fa-heart text-green"></i> Corazones de Alcachofa, <i class="fas fa-carrot text-green"></i> Rábano y <i class="fas fa-leaf text-green"></i> Cúrcuma</p>
      <p class="fs-5 mb-4 text-white">Estos ingredientes son ideales para una dieta keto, ya que promueven la quema de grasa, reducen el apetito y aumentan el metabolismo, lo que facilita la pérdida de peso de manera rápida y sin rebote.</p>
      <p class="fs-5 mb-4 text-white">Lypomax es una bebida en polvo con 500 gramos de producto. Cuenta con registro INVIMA y no contiene azúcar añadida.</p>
      <a (click)="onContact()" class="btn btn-success btn-lg mb-3"><i class="fab fa-whatsapp"></i> Compra por WhatsApp</a>
      <div class="text-center">
        <span class="text-white">* Pago Contraentrega + Envío Gratis  *</span>
      </div>
    </div>
  </div>
</div>
