<div class="container mt-5 mb-5">
  <h2 class="text-center text-shadow mb-4" style="color: #FF7F50;">Menú Keto Semanal</h2>
  <div class="container mt-3">
    <div class="accordion" id="menuSemanal">
      <!-- Lunes -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingMonday">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseMonday" aria-expanded="false" aria-controls="collapseMonday">
            Lunes
          </button>
        </h2>
        <div id="collapseMonday" class="accordion-collapse collapse" aria-labelledby="headingMonday"
          data-bs-parent="#menuSemanal">
          <div class="accordion-body">
            <!-- Desayuno Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/3.png" class="card-img-top" alt="Desayuno Lunes">
              <div class="card-body bg-orange-light">
                <h5 class="card-title">Tortilla de huevo</h5>
                <p class="card-text">huevos, espinacas y champiñones picado.</p>
              </div>
            </div>
            <!-- Almuerzo Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/4.png" class="card-img-top" alt="Almuerzo Lunes">
              <div class="card-body bg-orange">
                <h5 class="card-title">Ensalada de pollo a la parrilla</h5>
                <p class="card-text">pollo, vegetales mixtos y aderezo de vinagreta balsámica.</p>
              </div>
            </div>
            <!-- Cena Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/5.png" class="card-img-top" alt="Cena Lunes">
              <div class="card-body bg-orange-dark">
                <h5 class="card-title">Batido de frutos rojos </h5>
                <p class="card-text">frutas (mora, fresas) , lypomax (1 cucharada), opcional leche de almendras </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Martes -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingMonday">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseMartes" aria-expanded="false" aria-controls="collapseMonday">
            Martes
          </button>
        </h2>
        <div id="collapseMartes" class="accordion-collapse collapse" aria-labelledby="headingMonday"
          data-bs-parent="#menuSemanal">
          <div class="accordion-body">
            <!-- Desayuno Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/17.png" class="card-img-top" alt="Desayuno Lunes">
              <div class="card-body bg-orange-light">
                <h5 class="card-title">Yogur con mix de semillas</h5>
                <p class="card-text">yogur griego sin azúcar, nueces Y semillas de chía.</p>
              </div>
            </div>
            <!-- Almuerzo Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/10.png" class="card-img-top" alt="Almuerzo Lunes">
              <div class="card-body bg-orange">
                <h5 class="card-title">Tacos de proteíco </h5>
                <p class="card-text">proteina a elección (pollo, pescado, carne , cerdo, atún), con Hojas de lechuga romana (6 unidades dependiendo del tamaño de las hojas) y guacamole casero .</p>
              </div>
            </div>
            <!-- Cena Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/19.png" class="card-img-top" alt="Cena Lunes">
              <div class="card-body bg-orange-dark">
                <h5 class="card-title">Tropicarlim</h5>
                <p class="card-text">Mango, maracuya, y lipomax ( 1 cucharada) sin azúcar opcional : crema de leche sin azucar .</p>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- Miercoles -->
       <div class="accordion-item">
        <h2 class="accordion-header" id="headingMonday">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="collapseMiercoles" aria-expanded="false" aria-controls="collapseMonday">
            Miercoles
          </button>
        </h2>
        <div id="collapseMiercol" class="accordion-collapse collapse" aria-labelledby="headingMonday"
          data-bs-parent="#menuSemanal">
          <div class="accordion-body">
            <!-- Desayuno Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/9.png" class="card-img-top" alt="Desayuno Lunes">
              <div class="card-body bg-orange-light">
                <h5 class="card-title">Sándwich de pan nube</h5>
                <p class="card-text">pan (2 huevos), proteina picada o desmechada a elección (pollo, carne , cerdo,)
                  , aguacate y tomate.</p>
              </div>
            </div>
            <!-- Almuerzo Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/10.png" class="card-img-top" alt="Almuerzo Lunes">
              <div class="card-body bg-orange">
                <h5 class="card-title">Berenjenas rellenas  </h5>
                <p class="card-text">berenjena , proteína a elección (pollo, carne , cerdo) .</p>
              </div>
            </div>
            <!-- Cena Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/17.png" class="card-img-top" alt="Cena Lunes">
              <div class="card-body bg-orange-dark">
                <h5 class="card-title">yogur frutal  </h5>
                <p class="card-text">yogur griego , frutas(de tu elección) y lypomax( 1 cucharada ) sin azúcar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- Jueves -->
       <div class="accordion-item">
        <h2 class="accordion-header" id="headingMonday">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseJueves" aria-expanded="false" aria-controls="collapseMonday">
            Jueves
          </button>
        </h2>
        <div id="collapseJueves" class="accordion-collapse collapse" aria-labelledby="headingMonday"
          data-bs-parent="#menuSemanal">
          <div class="accordion-body">
            <!-- Desayuno Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/12.png" class="card-img-top" alt="Desayuno Lunes">
              <div class="card-body bg-orange-light">
                <h5 class="card-title">champiñones rellenos </h5>
                <p class="card-text">champiñones ,queso crema y tocineta 2 tiras , queso crema  </p>
              </div>
            </div>
            <!-- Almuerzo Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/13.png" class="card-img-top" alt="Almuerzo Lunes">
              <div class="card-body bg-orange">
                <h5 class="card-title">filete a la parrilla</h5>
                <p class="card-text">Filete de pescado con espárragos y arroz integral cocido una tasa pequeña del tamaño del puño .</p>
              </div>
            </div>
            <!-- Cena Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/8.png" class="card-img-top" alt="Cena Lunes">
              <div class="card-body bg-orange-dark">
                <h5 class="card-title">explocion amarilla</h5>
                <p class="card-text">Mago , piña, naranja y lypomax ( 1 cucharada ) sin azúcar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Viernes -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingMonday">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseViernes" aria-expanded="false" aria-controls="collapseMonday">
            Viernes
          </button>
        </h2>
        <div id="collapseViernes" class="accordion-collapse collapse" aria-labelledby="headingMonday"
          data-bs-parent="#menuSemanal">
          <div class="accordion-body">
            <!-- Desayuno Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/9.png" class="card-img-top" alt="Desayuno Lunes">
              <div class="card-body bg-orange-light">
                <h5 class="card-title">Tazón de melocotón</h5>
                <p class="card-text">rodajas de durazno congeladas, yogur griego, avena, esencia de vainilla, crema de leche sin azúcar. </p>
              </div>
            </div>
            <!-- Almuerzo Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/16.png" class="card-img-top" alt="Almuerzo Lunes">
              <div class="card-body bg-orange">
                <h5 class="card-title">Carne guisada en salsa baja en carbohidratos</h5>
                <p class="card-text">carne de res, mix de verduras (tomate, cebolla, pimentón y cilantro) y arroz de coliflor.</p>
              </div>
            </div>
            <!-- Cena Lunes -->
            <div class="card mb-3">
              <img src="assets/lypomax/17.png" class="card-img-top" alt="Cena Lunes">
              <div class="card-body bg-orange-dark">
                <h5 class="card-title">Yogur frutal</h5>
                <p class="card-text">Yogur frutal con fruta de su preferencia y lypomax (1 cucharada) sin azúcar..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- Sabado -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingMonday">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSabado" aria-expanded="false" aria-controls="collapseMonday">
              Sabado
            </button>
          </h2>
          <div id="collapseSabado" class="accordion-collapse collapse" aria-labelledby="headingMonday"
            data-bs-parent="#menuSemanal">
            <div class="accordion-body">
              <!-- Desayuno Lunes -->
              <div class="card mb-3">
                <img src="assets/lypomax/9.png" class="card-img-top" alt="Desayuno Lunes">
                <div class="card-body bg-orange-light">
                  <h5 class="card-title">Sándwich proteico</h5>
                  <p class="card-text">pan proteico (sin gluten), queso, tocineta (2 tiras); opcional: tomate y lechuga. </p>
                </div>
              </div>
              <!-- Almuerzo Lunes -->
              <div class="card mb-3">
                <img src="assets/lypomax/18.png" class="card-img-top" alt="Almuerzo Lunes">
                <div class="card-body bg-orange">
                  <h5 class="card-title">Ceviche de chicharrón</h5>
                  <p class="card-text"> chicharrón, queso, mix de vegetales (cebolla, pimentón, cilantro)..</p>
                </div>
              </div>
              <!-- Cena Lunes -->
              <div class="card mb-3">
                <img src="assets/lypomax/19.png" class="card-img-top" alt="Cena Lunes">
                <div class="card-body bg-orange-dark">
                  <h5 class="card-title">Batido cremoso</h5>
                  <p class="card-text">Batido cremoso con crema de leche sin azúcar, yogur griego y frutas (de tu elección), y lypomax (1 cucharada) sin azúcar.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Domingo -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingMonday">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseDomingo" aria-expanded="false" aria-controls="collapseMonday">
              Domingo
            </button>
          </h2>
          <div id="collapseDomingo" class="accordion-collapse collapse" aria-labelledby="headingMonday"
            data-bs-parent="#menuSemanal">
            <div class="accordion-body">
              <!-- Desayuno Lunes -->
              <div class="card mb-3">
                <img src="assets/lypomax/9.png" class="card-img-top" alt="Desayuno Lunes">
                <div class="card-body bg-orange-light">
                  <h5 class="card-title">Tortillas saludables:</h5>
                  <p class="card-text">panquecas de zanahoria (sin gluten), queso crema, tocineta picada en cuadritos (2 tiras) sin azúcar. </p>
                </div>
              </div>
              <!-- Almuerzo Lunes -->
              <div class="card mb-3">
                <img src="assets/lypomax/18.png" class="card-img-top" alt="Almuerzo Lunes">
                <div class="card-body bg-orange">
                  <h5 class="card-title">Tazón de atún</h5>
                  <p class="card-text"> Tazón de atún con garbanzos, medallón de atún, mix de verduras (tomate, cebolla, pimentón y cilantro).</p>
                </div>
              </div>
              <!-- Cena Lunes -->
              <div class="card mb-3">
                <img src="assets/lypomax/19.png" class="card-img-top" alt="Cena Lunes">
                <div class="card-body bg-orange-dark">
                  <h5 class="card-title">Tazón cremoso </h5>
                  <p class="card-text">Tazón de yogur griego sin azúcar, nueces Y semillas de chía, y lypomax (1 cucharada) sin azúcar.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Similar structure for other days -->
    </div>
  </div>
</div>
