<div class="container mt-5 mb-5">
  <h2 class="text-center text-shadow mb-4" style="color: #FF7F50;">
    Acompaña tu Lypomax con este plan de dieta semanal
  </h2>
  <div class="container mt-3">
    <div class="accordion" id="menuSemanal">

      <!-- Lunes -->
      <div class="container my-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="text-center bg-orange text-white py-2">Lunes</h2>
          </div>
        </div>
        <div class="row g-3">
          <!-- Desayuno Lunes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/3.png" class="card-img-top img-fluid" alt="Desayuno Lunes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Tortilla de huevo</h5>
                <p class="card-text">Huevos, espinacas y champiñones picados.</p>
              </div>
            </div>
          </div>
          <!-- Almuerzo Lunes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/4.png" class="card-img-top img-fluid" alt="Almuerzo Lunes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Ensalada de pollo a la parrilla</h5>
                <p class="card-text">Pollo, vegetales mixtos y aderezo de vinagreta balsámica.</p>
              </div>
            </div>
          </div>
          <!-- Cena Lunes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/5.png" class="card-img-top img-fluid" alt="Cena Lunes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Batido de frutos rojos</h5>
                <p class="card-text">Frutas (mora, fresas), lypomax (1 cucharada), opcional: leche de almendras.</p>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- Martes -->
      <div class="container my-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="text-center bg-orange text-white py-2">Martes</h2>
          </div>
        </div>
        <div class="row g-3">
          <!-- Desayuno Martes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/17.png" class="card-img-top img-fluid" alt="Desayuno Martes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Yogur con mix de semillas</h5>
                <p class="card-text">Yogur griego sin azúcar, nueces y semillas de chía.</p>
              </div>
            </div>
          </div>
          <!-- Almuerzo Martes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/10.png" class="card-img-top img-fluid" alt="Almuerzo Martes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Tacos proteicos</h5>
                <p class="card-text">Proteína a elección (pollo, pescado, carne, cerdo, atún), con hojas de lechuga romana y guacamole casero.</p>
              </div>
            </div>
          </div>
          <!-- Cena Martes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/19.png" class="card-img-top img-fluid" alt="Cena Martes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Tropicarlim</h5>
                <p class="card-text">Mango, maracuyá, y Lypomax (1 cucharada). Opcional: crema de leche sin azúcar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Miercoles -->
      <div class="container my-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="text-center bg-orange text-white py-2">Miércoles</h2>
          </div>
        </div>
        <div class="row g-3">
          <!-- Desayuno Miércoles -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/9.png" class="card-img-top img-fluid" alt="Desayuno Miércoles">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Sándwich de pan nube</h5>
                <p class="card-text">Pan nube (2 huevos), proteína picada o desmechada a elección (pollo, carne, cerdo), aguacate y tomate.</p>
              </div>
            </div>
          </div>
          <!-- Almuerzo Miércoles -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/10.png" class="card-img-top img-fluid" alt="Almuerzo Miércoles">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Berenjenas rellenas</h5>
                <p class="card-text">Berenjena, proteína a elección (pollo, carne, cerdo).</p>
              </div>
            </div>
          </div>
          <!-- Cena Miércoles -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/17.png" class="card-img-top img-fluid" alt="Cena Miércoles">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Yogur frutal</h5>
                <p class="card-text">Yogur griego, frutas de tu elección y Lypomax (1 cucharada) sin azúcar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Jueves -->
      <div class="container my-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="text-center bg-orange text-white py-2">Jueves</h2>
          </div>
        </div>
        <div class="row g-3">
          <!-- Desayuno Jueves -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/12.png" class="card-img-top img-fluid" alt="Desayuno Jueves">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Champiñones rellenos</h5>
                <p class="card-text">Champiñones, queso crema y tocineta (2 tiras).</p>
              </div>
            </div>
          </div>
          <!-- Almuerzo Jueves -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/13.png" class="card-img-top img-fluid" alt="Almuerzo Jueves">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Filete a la parrilla</h5>
                <p class="card-text">Filete de pescado con espárragos y una taza pequeña de arroz integral.</p>
              </div>
            </div>
          </div>
          <!-- Cena Jueves -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/8.png" class="card-img-top img-fluid" alt="Cena Jueves">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Explosión amarilla</h5>
                <p class="card-text">Mango, piña, naranja y Lypomax (1 cucharada) sin azúcar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Viernes -->
      <div class="container my-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="text-center bg-orange text-white py-2">Viernes</h2>
          </div>
        </div>
        <div class="row g-3">
          <!-- Desayuno Viernes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/9.png" class="card-img-top img-fluid" alt="Desayuno Viernes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Tazón de melocotón</h5>
                <p class="card-text">Rodajas de durazno congeladas, yogur griego, avena, esencia de vainilla, crema de leche sin azúcar.</p>
              </div>
            </div>
          </div>
          <!-- Almuerzo Viernes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/16.png" class="card-img-top img-fluid" alt="Almuerzo Viernes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Carne guisada en salsa baja en carbohidratos</h5>
                <p class="card-text">Carne de res, mix de verduras (tomate, cebolla, pimentón, cilantro) y arroz de coliflor.</p>
              </div>
            </div>
          </div>
          <!-- Cena Viernes -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/17.png" class="card-img-top img-fluid" alt="Cena Viernes">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Yogur frutal</h5>
                <p class="card-text">Yogur frutal con fruta de su preferencia y Lypomax (1 cucharada) sin azúcar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sábado -->
      <div class="container my-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="text-center bg-orange text-white py-2">Sábado</h2>
          </div>
        </div>
        <div class="row g-3">
          <!-- Desayuno Sábado -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/9.png" class="card-img-top img-fluid" alt="Desayuno Sábado">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Sándwich proteico</h5>
                <p class="card-text">Pan proteico (sin gluten), queso, tocineta (2 tiras); opcional: tomate y lechuga.</p>
              </div>
            </div>
          </div>
          <!-- Almuerzo Sábado -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/18.png" class="card-img-top img-fluid" alt="Almuerzo Sábado">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Ceviche de chicharrón</h5>
                <p class="card-text">Chicharrón, queso, mix de vegetales (cebolla, pimentón, cilantro).</p>
              </div>
            </div>
          </div>
          <!-- Cena Sábado -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/19.png" class="card-img-top img-fluid" alt="Cena Sábado">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Batido cremoso</h5>
                <p class="card-text">Crema de leche sin azúcar, yogur griego y frutas de tu elección, con Lypomax (1 cucharada) sin azúcar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Domingo -->
      <div class="container my-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="text-center bg-orange text-white py-2">Domingo</h2>
          </div>
        </div>
        <div class="row g-3">
          <!-- Desayuno Domingo -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/9.png" class="card-img-top img-fluid" alt="Desayuno Domingo">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Tortillas saludables</h5>
                <p class="card-text">Panquecas de zanahoria (sin gluten), queso crema y tocineta picada en cuadritos (2 tiras) sin azúcar.</p>
              </div>
            </div>
          </div>
          <!-- Almuerzo Domingo -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/18.png" class="card-img-top img-fluid" alt="Almuerzo Domingo">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Tazón de atún</h5>
                <p class="card-text">Tazón de atún con garbanzos, medallón de atún y mix de verduras (tomate, cebolla, pimentón, cilantro).</p>
              </div>
            </div>
          </div>
          <!-- Cena Domingo -->
          <div class="col-md-4">
            <div class="card h-100 shadow">
              <img src="assets/lypomax/19.png" class="card-img-top img-fluid" alt="Cena Domingo">
              <div class="card-body bg-light-orange">
                <h5 class="card-title">Tazón cremoso</h5>
                <p class="card-text">Yogur griego sin azúcar, nueces y semillas de chía, con Lypomax (1 cucharada) sin azúcar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Similar structure for other days -->
    </div>
  </div>
</div>
