<div class="container-fluid py-5 bg-light">
  <div class="text-center mb-5">
    <h1 class="text-pink text-shadow">Elige la Opción Perfecta para Ti</h1>
    <!-- <h3 class="text-pink text-shadow">Elige la Opción Perfecta para Ti</h3> -->
  </div>
  <div class="row g-4 justify-content-center">
    <div class="col-md-4">
      <div class="card border-0 shadow-sm">
        <!-- Ajuste de tamaño de imagen con clase img-fluid y estilos adicionales -->
        <img src="../assets/lypomax/Lypomax-1.png" class="card-img-top img-fluid" alt="Producto 1" style="max-width: 180px; height: auto; margin: 0 auto;">
        <div class="card-body text-center">
          <h5 class="card-title text-secondary">1 Lypomax - $69.000</h5>
          <p class="card-text">Lypomax : Tu aliado para una pérdida de peso efectiva y sin rebote. Con ingredientes naturales como <i class="fas fa-heart"></i> corazones de alcachofa, <i class="fas fa-carrot"></i> rábano y <i class="fas fa-leaf"></i> cúrcuma, este batido reemplaza la cena en tu dieta , acelerando la quema de grasa y reduciendo el apetito. ¡Actúa ahora y alcanza tu peso ideal! Con registro INVIMA, sin azúcar añadida y con envío gratis, ¡no pierdas esta oportunidad para transformar tu cuerpo!</p>
        </div>
      </div>
      <div class="card border-0 shadow-sm">
        <!-- Ajuste de tamaño de imagen con clase img-fluid y estilos adicionales -->
        <img src="../assets/lypomax/lypomax-2.png" class="card-img-top img-fluid" alt="Producto 1" style="max-width: 180px; height: auto; margin: 0 auto;">
        <div class="card-body text-center">
          <h5 class="card-title text-secondary">2 Lypomax - $119.000</h5>
          <p class="card-text">Lypomax: Tu aliado para una pérdida de peso efectiva y sin rebote. Con ingredientes naturales como <i class="fas fa-heart"></i> corazones de alcachofa, <i class="fas fa-carrot"></i> rábano y <i class="fas fa-leaf"></i> cúrcuma, este batido reemplaza la cena en tu dieta , acelerando la quema de grasa y reduciendo el apetito. ¡Actúa ahora y alcanza tu peso ideal! Con registro INVIMA, sin azúcar añadida y con envío gratis, ¡no pierdas esta oportunidad para transformar tu cuerpo!</p>
        </div>
      </div>
      <div class="card border-0 shadow-sm">
        <!-- Ajuste de tamaño de imagen con clase img-fluid y estilos adicionales -->
        <img src="../assets/lypomax/lypomax-3.png" class="card-img-top img-fluid" alt="Producto 1" style="max-width: 180px; height: auto; margin: 0 auto;">
        <div class="card-body text-center">
          <h5 class="card-title text-secondary">3 Lypomax - $138.000</h5>
          <p class="card-text">Lypomax: Tu aliado para una pérdida de peso efectiva y sin rebote. Con ingredientes naturales como <i class="fas fa-heart"></i> corazones de alcachofa, <i class="fas fa-carrot"></i> rábano y <i class="fas fa-leaf"></i> cúrcuma, este batido reemplaza la cena en tu dieta , acelerando la quema de grasa y reduciendo el apetito. ¡Actúa ahora y alcanza tu peso ideal! Con registro INVIMA, sin azúcar añadida y con envío gratis, ¡no pierdas esta oportunidad para transformar tu cuerpo!</p>
        </div>
      </div>
    </div>

  </div>
</div>
