<div class="container-fluid py-5 bg-light">
  <div class="text-center mb-5">
    <h3 class="display-5 text-secondary text-shadow">Descubre Nuestras Presentaciones</h3>
    <h2 class="text-pink text-shadow">Elige la Opción Perfecta para Ti</h2>
  </div>
  <div class="row g-4 justify-content-center">
    <div class="col-md-4">
      <div class="card border-0 shadow-sm">
        <!-- Ajuste de tamaño de imagen con clase img-fluid y estilos adicionales -->
        <img src="../assets/lypomax/Lypomax-1.png" class="card-img-top img-fluid" alt="Producto 1" style="max-width: 180px; height: auto; margin: 0 auto;">
        <div class="card-body text-center">
          <h5 class="card-title text-secondary">1 Lypomax</h5>
          <p class="card-text">Lypomax: Tu aliado para una pérdida de peso efectiva y sin rebote. Con ingredientes naturales como <i class="fas fa-heart"></i> corazones de alcachofa, <i class="fas fa-carrot"></i> rábano y <i class="fas fa-leaf"></i> cúrcuma, este batido reemplaza la cena en tu dieta keto, acelerando la quema de grasa y reduciendo el apetito. ¡Actúa ahora y alcanza tu peso ideal! Con registro INVIMA, sin azúcar añadida y con envío gratis, ¡no pierdas esta oportunidad para transformar tu cuerpo!</p>
        </div>
      </div>
    </div>
  </div>
</div>
